.hero-section 
.container{
  .hero-section-container{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    padding-inline: 25px;
    gap: 5rem;
    .hero-section-img{
      background: rgba(255, 255, 255, 0.219);
      width: 500px;
      height: 400px;
      width: 50%;
      object-fit: cover;
    }
    .hero-section-info{
      width: 50%;
      .hero-section-title{
        font-size: 50px;
        color: white;
        padding-top: 30px;
        .title-active{
          color: #E85D04;
        }
      }
      .hero-section-text{
        color: rgba(255, 255, 255, 0.219);
      }
      .hero-section-buttons{
        display: flex;
        margin-top: 25px;
        .hero-btn{
          color: white;
          padding: 8px 16px 12px;
          border-radius: 5px;
          margin-right: 10px;
          font-size: 18px;
          text-decoration: none;
        }
        .hero-btn-meals{
          background: #E85D04;
        }
        .hero-btn-saved-meals{
          background: #313235;
        }
      }
    }
  }
}