@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #1F2023;
}

nav{
  width: 100%;
  height: auto;
}
nav .nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
nav .nav-links{
  display: flex;
}
nav .nav-links .nav-link{
  color: white;
  font-size: 16px;
  margin-left: 15px;
  text-decoration: none;
}
nav .nav-logo{
  width: auto;
  height: 35px;
}
.container {
  width: 960px;
  margin: auto;
}




.hero-section .hero-section-container{
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  padding-inline: 25px;
  gap: 5rem;
}
.hero-section-img{
  background: rgba(255, 255, 255, 0.219);
  width: 500px;
  height: 400px;
}
.hero-section-info{
  width: 50%;
}
.hero-section-img{
  width: 50%;
  object-fit: cover;
}
.hero-section-info .hero-section-title{
  font-size: 50px;
  color: white;
  padding-top: 30px;
}
.hero-section-info .hero-section-title .title-active{
  color: #E85D04;
}
.hero-section-text{
  color: rgba(255, 255, 255, 0.219);
}
.hero-section-buttons{
  display: flex;
  margin-top: 25px;
}
.hero-section-buttons .hero-btn{
  color: white;
  padding: 8px 16px 12px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 18px;
  text-decoration: none;
}
.hero-section-buttons .hero-btn-meals{
  background: #E85D04;
}
.hero-section-buttons .hero-btn-saved-meals{
  background: #313235;
}


.meals-container{
  margin-top: 40px;
}
.search-recipe-form{
  height: 60px;
  display: flex;
  align-items: center;
}
.recipe-input{
  height: 100%;
  background: #313235;
  width: 400px;
  border: none;
  outline: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 20px;
  font-size: 18px;
  color: white;
}
.recipe-input:focus{
  border: 2px solid #E85D04;
}
.form-btn{
  height: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  background: #686a6e;
  padding: 10px;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 600;
}


.recipe-card{
  color: white;
  display: flex;
  flex-direction: column;
}
.recipe-card .recipe-image{
  width: 300px;
}
.recipe-card ul li{
  list-style: none;
}
.recipe-card ul li::before{
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #E85D04;
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.save-btn{
  background:#E85D04;
  padding: 7px 12px;
  color: white;
  font-size: 18px;
  outline: none;
  border: none;
  width: min-content;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.save-btn span{
  padding-left: 7px;
}
.ingredients-measures{
  display: flex;
  justify-content: space-between;
  width: 500px;
}


.recipe-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
  gap: 15px;
}
.recipe-list-item{
  width: 250px;
  height: auto;
  background: #313235;
  border-radius: 5px;
  padding: 8px;
  width: 30%;
  margin-bottom: 10px;
}
.recipe-list-item .recipe-image{
  width: 100%;
}
.recipe-list-item .recipe-name{
  color: #9f9f8e;
  font-size: 16px;
  margin-top: 5px;
  display: inline-block;
  text-align: center;
}
.recipe-list-empty-text{
  color: white;
}
.meals-container .added-text{
  font-size: 18px;
  margin-top: 10px;
}
.meals-container .added-text .err-text{
  color: rgb(180, 58, 58);
}

.saved-meals{
  margin-top: 60px;
}
.saved-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  margin-top: 14px;
}
.saved-list-title{
  font-size: 35px;
  color: #9F9F97;
  font-family: 'Mirza', cursive;
}
.saved-list-item{
  width: 32%;
  background: #393B40;
  border-radius: 5px;
  padding: 17px;
  padding-bottom: 35px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.saved-list-item-title{
  font-size: 17px;
  color: #9F9F97;
}
.saved-list ul{
  margin-top: 10px;
}
.saved-list ul li{
  list-style: none;
  font-size: 15px;
  color: #686B6C;
  margin-top: 3px;
}
.saved-list ul li::before{
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #E85D04;
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}


@media screen and (min-width: 1400px) {
  .container {
      width: 85%;
  }
}
@media screen and (max-width: 1200px) {
  .container {
      width: 940px !important;
  }
}
@media screen and (max-width: 992px) {
  .container {
      width: 720px !important;
  }
}
@media screen and (max-width: 768px) {
  .container {
      width: 95% !important;
  }
}